<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/BiKing567/RateSync/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>LG9i3j1dXlE1LTICK3M9zxPKNasKj3FNGZFPlmcEBOI=</string>
	<key>CFBundleDisplayName</key>
	<string>RateSync</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>RateSync.sdef</string>
</dict>
</plist>
